.sign-up-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;

    h2 {
        margin: 12px 0px;
    }
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}