$base-color: #0F2027;
$nicebrown: #170900;
$niceblue: #2C5364;


.book-wrapper {
  width: 210px;
  height: 500px;
  box-shadow: rgba(240, 46, 170, 0.4) 3px 3px, rgba(240, 46, 170, 0.3) 6px 6px,
  rgba(240, 46, 170, 0.2) 9px 9px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 1s cubic-bezier(0.25, 0.45, 0.45, 0.95);

  &:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 1px 1px, rgba(240, 46, 170, 0.3) 3px 3px,
  rgba(240, 46, 170, 0.2) 5px 5px;
  }
}
  
.book-card-container { 
    
    img { 
        width: 100%; 
        height: 320px;
        object-fit: fill; 
        margin-bottom: 5px; 
        max-width: 100%;

    } 

  .book-card-info {
    text-align: center;
    align-items: center;
    
    ;
    h2 {
      font-size: large;  
    }
  }

  .bookbutton {
    display: flex;
    margin: 5px;
    justify-content: center;
  }

}